<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      $(function () {
        $('body').bootstrapMaterialDesign(); 
        var outDoorData = [];
        var returnData = [];

        var socket = io();
        socket.on('event', function(msg){
          console.log(msg);
          if(msg.topic == "2677larkinch") {
            outDoorData.push({
              x: new Date(msg.data.createdAt),
              y: parseFloat(msg.data.outdoor)
            });
            returnData.push({
              x: new Date(msg.data.createdAt),
              y: parseFloat(msg.data.return)
            })
          } else {

          }
        });

        init();

        function init() {
          $.ajax({
            method: 'GET',
            url: "/api/data"
          }).done(function(response) {
            // console.log("response", response);
            
            for(var obj of response.device1) {
              outDoorData.push({
                x: new Date(obj.createdAt),
                y: parseFloat(obj.outdoor)
              });

              returnData.push({
                x: new Date(obj.createdAt),
                y: parseFloat(obj.return)
              })
            }
            var chart = new CanvasJS.Chart("chartContainer", {
              animationEnabled: true,
              theme: "light2",
              title:{
                text: "Site Traffic"
              },
              axisX:{
                valueFormatString: "DD MMM",
                crosshair: {
                  enabled: true,
                  snapToDataPoint: true
                }
              },
              axisY: {
                title: "Number of Visits",
                crosshair: {
                  enabled: true
                }
              },
              toolTip:{
                shared:true
              },  
              legend:{
                cursor:"pointer",
                verticalAlign: "bottom",
                horizontalAlign: "left",
                dockInsidePlotArea: true,
                itemclick: toogleDataSeries
              },
              data: [{
                type: "line",
                showInLegend: true,
                name: "Total Visit",
                markerType: "square",
                xValueFormatString: "DD MMM, YYYY",
                color: "#F08080",
                dataPoints: outDoorData,
              },
              {
                type: "line",
                showInLegend: true,
                name: "Unique Visit",
                lineDashType: "dash",
                dataPoints: returnData,
              }]
            });
            chart.render();

            function toogleDataSeries(e){
              if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
              } else{
                e.dataSeries.visible = true;
              }
              chart.render();
            }
          });
        }
      });
    </script>
  </body>
</html>
